{% extends "layout.html" %}
{% block content %}


<div class="mt-4">
  <h2>About Us</h2>
  <p> At GaiaHarvesting, we have produced the GaiaBot as a solution to the
    ongoing labour shortages in the agricultural industry. The GaiaBot
    is a fully autonomous robot that is capable of harvesting crops and
    depositing them in a basket. The GaiaBot is equipped with a camera
    and sensors to detect the location of the crops and to avoid
    obstacles. The GaiaBot is also capable of returning to its charging
    port when its battery is low. The GaiaBot is designed to be
    user-friendly and easy to operate.</p>
  <h2 class="mt-4">Meet the Team</h2>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="card h-100">
        <img src="../static/image/motion.jpg" class="card-img-top" alt="..." height="200px">
        <div class="card-body">
          <h5 class="card-title">Motion</h5>
          <p class="card-text">Alex DingWall <br> 
            Maia Briggs <br>
            Roberta Posiunaite </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="card h-100" >
        <img src="../static/image/roboticArm.jpg" class="card-img-top" alt="..." height="200px">
        <div class="card-body">
          <h5 class="card-title">Robotic Arm</h5>
          <p class="card-text">Amishi Gangwar <br>
                              Eren Mendi</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="card h-100" >
        <img src="../static/image/objectDetection.jpg" class="card-img-top" height="200px" alt="...">
        <div class="card-body">
          <h5 class="card-title">Detection</h5>
          <p class="card-text">Kyle Zhao <br>
                              Ryan Kwok
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="card h-100" >
        <img src="../static/image/sdp-logo.jpeg" class="card-img-top" height="200px" alt="...">
        <div class="card-body">
          <h5 class="card-title">WebApp</h5>
          <p class="card-text">Kamil Balinski</p>
        </div>
      </div>
  </div>
</div>
{% endblock %}

  
