{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="col">
        <h2 class="mt-4">Control Hub</h2>
       
        
    
        <p class="mt-4">
            This is a simple web interface to control the GaiaBot. You can connect by hitting the connect button. The GaiaBot can be
            powered on using the "Start" button. GaiaBot will cease
            collection, deposit its basket and return to the charging port
            after clicking the "Return" button. If you want to stop and power
            off the bot immediately, you can use the "Stop" button.
        </p>

        <div class="mt-3" id="connect-section">
            <button id="connect-button" type="button" class="btn btn-blue-pastel btn-sm w-100">Please Connect</button>
        </div>
        <button id="on-button" type="button" class="btn btn-green-pastel btn-sm w-100" style="display: none;">Start</button>    
        <div id="during-run-time" style="display: none;">
            <div class="row">
                <!--
                <div class="col">
                    <button id="return-button" type="button" class="btn btn-yellow-pastel btn-sm w-100">Return</button>
                </div>
                -->
                <div class="col">
                    <button id="off-button" type="button" class="btn btn-red-pastel btn-sm w-100">Stop</button>    
                </div>
            </div>    

        </div>

       
    </div>
    <div class="col">
        <h2 class="mt-4">Output Log</h2>        
        <textarea id="log-text-area" class="w-100" rows=15 autofocus disabled>
        </textarea>
    </div>
</div>


{% endblock %}

<!--
 Test connection

    Start
    Stop

-->




