{% extends "layout.html" %}
{% block content %}

 
<h2 class="mt-4">Welcome to GaiaBot</h2>
<div class="row">
  <div class="col-6 mt-4">
    <p>The gaiabot webpage acts as a universal central hub for all your action and worries.
        Its key feature is the control hub that allows you to control your new gaiabot from anywhere in the world.
        It also contains further information about our product and ways to get in touch for any questions or issues you may need answered.</p>

    <a class="btn btn-primary2 btn-sm mt-3 me-2" href="/controls">Control hub</a>
    <a  class="btn btn-primary2 btn-sm mt-3" href="/about">Find out more</a>
  </div>
  <div class="col-6">
    <div class="hero-image">
      <img
        src="../static/Image/bot-design.jpg"
        alt="This is a placeholder for an image"
        width="100%"
        height="300px"
      />
    </div>
  </div>
</div>

{% endblock %}





