
{% extends "layout.html" %}
{% block content %}

<div class="row mt-5">
  <div class="col">
<h5>General Start Stop</h5>
            
            <button type="button" id="on-test-button" class="btn btn-secondary2 me-2">
              Start
            </button>
            <button
              type="button"
              id="off-test-button"
              class="btn btn-secondary2 me-2"
            >
              Stop
            </button>
  </div>


  <div class="container col">
  <h5>Base</h5>

    <label for="variable1">Variable 1:</label>
      <input type="text" id="variable1" name="variable1"><br><br>
      
      <label for="variable2">Variable 2:</label>
      <input type="text" id="variable2" name="variable2"><br><br>

    <button type="button" id="on-test-button-maia" class="btn btn-secondary2 me-2">
      Start
    </button>
    <button
      type="button"
      id="off-test-button-maia"
      class="btn btn-secondary2 me-2"
    >
      Stop
    </button>
</div>

<div class="col">
<h5>Arm</h5>
<button type="button" id="start-arm-on" class="btn btn-secondary2 me-2">
  Start arm
</button>
</div>
</div>

{% endblock %}
