h1,
h2 {
  font-family: "Courier New", sans-serif;
  color: black;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.centered {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
body {
  height: 100vh;
  background-color: #e3c3c3;
  flex-direction: column;
}
.headers {
  display: flex;
  flex-direction: row;
  align-items: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
.headbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.col {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header-link a {
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  font-family: "Roboto", arial;
  color: grey;
}
.header-link {
  display: flex;
  margin-left: auto;
  padding: 0px 0px 0px 0px;
}
.info{
  display: flex;
  flex-direction: column;
}
.navbar {
  display: flex;
  color: #f9faf8;
}
.text {
  text-align: center;
}
.largetext {
  font-size: 48px;
  font-weight: bolder;
  padding-bottom: 10px;

}
.subtext {
  font-size: 18px;
  padding-right: 50px;
  padding-bottom: 20px;
}
.signup{
    display: flex;
    justify-content: space-between;
}
.btn-success {
  background-color: #a9b489;
  border: none;
  height: 80px;
  width: 150px;
  font-size: 25px;
  border-radius: 40px;
}
.btn-danger {
  background-color: #c65049;
  width: 150px;
  height: 80px;
  border: none;
  font-size: 25px;
  border-radius: 40px
}
