h1,
h2 {
  font-family: "Courier New", sans-serif;
  color: black;
}

body {
  height: 100vh;
  background-color: #e4c6c6;
}

.header-link a {
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  font-family: "Roboto", arial;
  color: grey;
}
.header-link {
  display: flex;
  margin-left: auto;
  padding: 0px 0px 0px 0px;
}

.bg-nav-custom {
  display: flex;
  color: #f9faf8;
  background-color: #e4c6c6;

}

.btn-red-pastel{
  background-color: rgb(227, 106, 106);
  color: white;
}

.btn-green-pastel{
  background-color: rgb(67, 171, 101);
  color: white;

}

.btn-yellow-pastel{
  background-color: #eb864c;
  color: white;

}

.btn-blue-pastel{
  background-color: rgb(106, 151, 227);
  color: white;

}

.btn-red-pastel:active, .btn-red-pastel:hover  {
  background-color: rgb(227, 106, 106);
  color: white;
}

.btn-green-pastel:hover{
  background-color: rgb(67, 171, 101);
  color: white;

}

.btn-yellow-pastel:hover{
  background-color: rgb(227, 207, 106);
  color: white;

}

.btn-blue-pastel:hover{
  background-color: rgb(106, 151, 227);
  color: white;

}